---
import Excel from "exceljs";
import { readFileSync } from "node:fs";

const workbook = new Excel.Workbook();
// 尝试读取Excel测试文件
// 请在根目录下添加music.xlsx进行测试
// TODO 修改为正确的文件读取处理
await workbook.xlsx.load(readFileSync("music.xlsx"));

interface SongInfo {
    name: string;
    artist: string;
    language: string;
    tags?: string;
    BVID?: string;
    url?: string;
}
const woksheet1 = workbook.worksheets[0];
const songs = woksheet1.getRows(2, woksheet1.rowCount)?.map(
    (row) =>
        ({
            name: row.getCell(1).text,
            artist: row.getCell(2).text,
            language: row.getCell(3).text,
            tags: row.getCell(4).text,
            BVID: row.getCell(5).text,
            url: row.getCell(6).text,
        }) as SongInfo,
);
---

<!doctype html>
<html lang="zh_cn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editor</title>
    </head>
    <body>
        {/* TODO 修改为正确的页面样式、渲染等 */}
        <table class="flex items-stretch flex-col">
            <thead>
                <tr class="flex content-center">
                    <th class="flex-1">歌名</th>
                    <th class="flex-1">原唱</th>
                    <th class="flex-1">语言</th>
                    <th class="flex-1">标签</th>
                    <th class="flex-1">BVID</th>
                    <th class="flex-1">URL</th>
                </tr>
            </thead>
            <tbody>
                {
                    songs !== undefined &&
                        songs.map((s) => (
                            <tr class="flex content-center justify-center text-center">
                                <>
                                    <td class="flex-1">{s.name}</td>
                                    <td class="flex-1">{s.artist}</td>
                                    <td class="flex-1">{s.language}</td>
                                    <td class="flex-1">{s.tags}</td>
                                    <td class="flex-1">{s.BVID}</td>
                                    <td class="flex-1">{s.url}</td>
                                </>
                            </tr>
                        ))
                }
            </tbody>
        </table>
    </body>
</html>
